*.dcm
*.prep
*.scan
*.offset
*.air
XCIST
*/.ipynb_checkpoints
.ipynb_checkpoints
example_body
pediatric_phantom_data
Gate_data
cfg
convertRaw.py
dicom_to_voxelized.cfg
*.json
sitk2vtk.py
*.pyc
*.raw
*.png